basics/*
LoginSystem/vendor/*
LoginSystem/.env
LoginSystem/composer.lock
LoginSystem/composer-setup.php
LoginSystem/src
LoginSystem/.vscode/*
LoginSystem/includes/uploads/*
!.gitkeep
LoginSystem/images/*